*.iml
.gradle
/local.properties
.idea
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
build/
/captures
.externalNativeBuild
__MACOSX
*~
.*~
*.swp
.svn
.vscode
mapbox_cache
node_modules
package-lock.json
*.log
*.jpg
*.jpeg
*.png
*.mp4
